.accounts {
  height: 100vh;
  width: 100%;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
}

.accounts-header-actions {
  display: flex;
  gap: 8px;
}

.accounts-table-container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
